<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.userMapper">

	<cache eviction="FIFO"  flushInterval="60000"  size="512"  readOnly="true" />
	<!-- // eviction="FIFO" 回收策略为先进先出
		 // flushInterval="60000" 自动刷新时间60s 
		 //	size="512" 最多缓存512个引用对象 
		 // readOnly="true" 只读
	 -->


	<!--CRUD功能演示 -->

	<insert id="insertUser" parameterType="com.taowd.mybatis.entry.User">
		insert into users(name,
		age) values(#{name}, #{age});
	</insert>

	<delete id="deleteUser" parameterType="int">
		delete from users where
		id=#{id}
	</delete>

	<update id="updateUser" parameterType="com.taowd.mybatis.entry.User">
		update users set
		name=#{name},age=#{age} where id=#{id}
	</update>

	<select id="selectUser" parameterType="int"
		resultType="com.taowd.mybatis.entry.User">
		select * from users where id=#{id}
	</select>

	<select id="selectAllUsers" resultType="com.taowd.mybatis.entry.User">
		select * from users
	</select>
	<!-- 根据id查询得到一个user对象 -->
	<select id="getUser" parameterType="int"
		resultType="com.taowd.mybatis.entry.User">
		select * from users where id=#{id}
	</select>

	<!-- 测试动态SQL和模糊查询 -->
	<select id="getUser2" parameterType="com.taowd.mybatis.entry.ConditionUser"
		resultType="com.taowd.mybatis.entry.User">
		select * from d_user where age>=#{minAge} and age&lt;=#{maxAge}
		<if test='name!="%null%"'>and name like #{name}</if>
	</select>

	<!-- 测试调用存储过程 -->
	<select id="getUserCount" statementType="CALLABLE" parameterMap="getCountMap">
		call mybatis.ges_user_count(?,?)
	</select>
	<parameterMap type="java.util.Map" id="getCountMap">
		<parameter property="sex_id" mode="IN" javaType="INTEGER" />
		<parameter property="user_count" mode="OUT" jdbcType="INTEGER" />
	</parameterMap>

	<!-- 测试缓存 -->
	<select id="getCachUser" parameterType="int" resultType="_CUser">
		select *
		from c_user where id = #{id}
	</select>

	<update id="updateCachUser" parameterType="_CUser">
		update c_user set
		name=#{name},age=#{age} where id=#{id}

	</update>





</mapper>
